.intro {
    display: flex;
    align-items: center;
    gap: 106px;
}

.intro_link {
    color: rgba(47, 43, 67, 0.50);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    padding-top: 40px;

    span {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.intro_title {
    font-family: Open Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 15px;
}

.intro_text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

.intro_btn {
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-right: 36px;
    padding-left: 36px;
    border-radius: 10px;
    color: #FFF;
    background-color: #33836E;
    margin-bottom: 30px;
}

.service_num {
    color: #33836E;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    border-bottom: 3px solid #33836E;
}

.call_info {
    color: rgba(47, 43, 67, 0.50);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.questions {
    display: flex;
    gap: 30px;
}

.intro_information {
    display: flex;
    gap: 30px;
}

.intro_info {
    position: relative;
    color: #140A32;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}

.div {
    display: flex;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width:1080px) {
    .intro {
        flex-direction: column-reverse;
    }

    .intro_title,
    .intro_text {
        text-align: center;
    }

    .questions,
    .intro_information {
        justify-content: center;
    }

    .intro_img {
        margin-top: 20px;
    }
}

@media screen and (max-width:600px) {
    .intro_img {
        max-width: 235px;
    }

    .intro_title {
        color: #140A32;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -0.66px;
    }

    .intro_text {
        color: #140A32;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
    }

    .intro_information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .service_num {
        text-align: center;
    }

    .call_info {
        margin-bottom: 40px;
        text-align: center;
    }

    .questions {
        flex-direction: column;
    }
}