.legal_title {
    color: #140A32;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.96px;
}

.legal_text {
    color: #140A32;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 10px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin-top: 30px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(47, 43, 67, 0.15);   
}

.card_title {
    color: #140A32;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card_number {
    color: #140A32;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}

.card_btn1 {
    color: #33836E;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    margin-top: 15px;
}

.card_btn2{
    color: #33836E;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    margin-top: 40px;
}

@media screen and (max-width:1080px) {
    .legal_title {
        margin-top: 40px;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}

@media screen and (max-width:430px) {
    .cards{
        column-gap: 10px;
        row-gap: 10px;
    }
    .card{
        padding: 10px;
    }
}